body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #3c3838;
    color: rgb(0, 0, 0);
    

}

/* HEADER */
header {
    text-align: center;
    padding: 25px;
    background-color: #292527;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #716363;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 8px 15px;
    border-radius: 15px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #ffc3c3;
}

/* CONTENIDO */
main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

/* TARJETAS */
.card {
    background-color: #ffdada;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);

    /* NUEVO */
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

/* brillo */
.card::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        45deg,
        transparent,
        rgba(255, 255, 255, 0.4).4),
        transparent
    ;
    transform: rotate(25deg);
    transition: 0.7s;
    opacity: 0;
}

/* efecto hover */
.card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow:
        0 0 15px #ff9ecb,
        0 0 30px rgba(255, 158, 203, 0.6);
}

/* activar brillo */
.card:hover::before {
    left: 100%;
    opacity: 1;
}

/* ========================= */
/* PARTÍCULAS BRILLANTES ✨ */
/* ========================= */

.particle{
    position:absolute;
    width:8px;
    height:8px;
    background:#0000;
    border-radius:50%;
    opacity:0;
    animation:float 4s infinite;
    box-shadow:
        0 0 10px white,
        0 0 20px #ffb6d9;
    pointer-events:none;
}

/* posiciones */
.particle:nth-child(1){
    left:15%;
    animation-delay:0s;
}

.particle:nth-child(2){
    left:40%;
    animation-delay:1s;
}

.particle:nth-child(3){
    left:70%;
    animation-delay:2s;
}

.particle:nth-child(4){
    left:85%;
    animation-delay:3s;
}

.particle:nth-child(5){
    left:55%;
    animation-delay:1.5s;
}

/* animación */
@keyframes float{
    0%{
        bottom:-20px;
        opacity:0;
        transform:scale(0.5);
    }

    20%{
        opacity:1;
    }

    100%{
        bottom:110%;
        opacity:0;
        transform:scale(1.5);
    }
}

.card h2 {
    color: #000000;
    position: relative;
    z-index: 2;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background-color: #d5b6b6;
}